.chat-main

  .main-headar
    .main-headar__now
      .main-headar__now__guroup-current
        = @group.name
      .main-headar__now__guroup-menber
        Member:
        - @group.users.each do |user|
          = user.name
    .main-headar__edit
      = link_to edit_group_path(@group),class: "a btn" do
        Edit
  .messages
    = render @messages

  .form
    .form__input
      =form_for [@group, @message] do |f|
        .form__input__box
          =f.text_field :content, class: 'form__input__box__text', placeholder: "type a messege"
          =f.label :image, class: 'form__input__box__image' do
            = icon('fas', 'image',class: 'icon')
            =f.file_field :image, class: 'form__input__box__image__file'
       
        =f.submit 'Send', class: 'form__input__send'