.chat-side
  .side-headar
    .side-headar__box
      %p.side-headar__box__name
        = current_user.name
      %ul.side-headar__box__icons
        %li.side-hedar__box__new-edit 
          = link_to "#" do
            =icon("fas", "edit", class: 'icon')
        %li.side-hedar__box__creait
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  .groups
    = link_to "#", class:"group" do
      .groups__group-name
        groups 
      .groups__message-latest 
        まだメッセージがありません